CIS274_XML_Programming_Project/CIS274_XML_Programming_Project/Resources/XML/DocumentSet/DocumentSet.dtd

<!ELEMENT DocumentSet (Document+)>
<!ELEMENT Document (DocumentTitle | DocumentAuthor | DocumentSection)*>
<!ELEMENT DocumentTitle (#PCDATA)>
<!ELEMENT DocumentAuthor (#PCDATA)>
<!ELEMENT DocumentSection (#PCDATA | DocumentLine)*>
<!ELEMENT DocumentLine (#PCDATA)>
<!ATTLIST Document ID ID #IMPLIED>
<!ATTLIST Document title CDATA #IMPLIED>
<!ATTLIST Document author CDATA #IMPLIED>
<!ATTLIST DocumentSection ID CDATA #IMPLIED>